  .cargo {
      position: absolute;
      height: 50px;
      width: 50px;
      bottom: 0;
      left: 30%;
      background-color: red;
      visibility: hidden;
      border-radius: 50%;
  }
  
  .truck {
      position: absolute;
      width: 20vw;
      height: 16vh;
      bottom: 10vh;
      left: 2vw;
  }
  
  .upperTruck {
      width: 20vw;
      height: 13vh;
      position: absolute;
      bottom: 17vh;
      left: 2vw;
      background-color: black;
  }
  
  .lowerTruck {
      width: 20vw;
      height: 3vh;
      position: absolute;
      bottom: 14vh;
      left: 2vw;
      background-color: black;
  }
  
  .wheelsContainer {
      position: absolute;
      bottom: 10vh;
      left: 2vw;
  }
  
  .leftWheel {
      height: 6vh;
      width: 6vh;
      top: -6.5vh;
      left: 1vw;
      position: absolute;
      background-color: black;
      border-radius: 50%;
  }
  
  .rightWheel {
      height: 6vh;
      width: 6vh;
      top: -6.5vh;
      left: 16vw;
      position: absolute;
      background-color: black;
      border-radius: 50%;
  }
  
  button {
      position: absolute;
      top: 0;
      right: 0;
  }
  
  .main {
      display: inline-block;
      position: relative;
  }
  
  .upperTruckAnimation {
      width: 20vw;
      height: 13vh;
      position: absolute;
      bottom: 17vh;
      left: 2vw;
      background-color: black;
      animation: upperTruckAnimation 4s linear forwards;
  }
  
  .lowerTruckAnimation {
      width: 20vw;
      height: 3vh;
      position: absolute;
      bottom: 14vh;
      left: 2vw;
      background-color: black;
      animation: lowerTruckAnimation 2s linear forwards;
  }
  
  .wheelsAnimation {
      position: absolute;
      bottom: 10vh;
      left: 2vw;
      animation: wheelsAnimation 2s linear forwards;
  }
  
  @keyframes upperTruckAnimation {
      0% {
          transform: rotate3d(0, 0, 0, 0deg);
          bottom: 14vh;
          left: 2vw;
      }
      25% {
          transform: rotate3d(0, 0, 0, 0deg);
          bottom: 15vh;
          left: 70vw;
      }
      50% {
          transform: rotate3d(0, 0, 0, 0deg);
          bottom: 70vh;
          left: 16vw;
      }
      100% {
          bottom: 70vh;
          left: 16vw;
          transform-origin: bottom left;
          transform: rotate3d(0, 0, 1, -75deg);
      }
  }
  
  @keyframes lowerTruckAnimation {
      0% {
          bottom: 14vh;
          left: 2vw;
          /* transform: translate3d(0vw, 0vh, 0); */
      }
      50% {
          bottom: 15vh;
          left: 70vw;
          /* transform: translate3d(10vw, 1vh, 0); */
      }
      100% {
          bottom: 70vh;
          left: 16vw;
          /* transform: translate3d(10vw, 1vh, 0); */
      }
  }
  
  @keyframes wheelsAnimation {
      0% {
          bottom: 10vh;
          left: 2vw;
          /* transform: translate3d(0vw, 0vh, 0); */
      }
      50% {
          bottom: 11vh;
          left: 70vw;
          /* transform: translate3d(0vw, 0vh, 0); */
      }
      100% {
          bottom: 66vh;
          left: 16vw;
          /* transform: translate3d(10vw, 1vh, 0); */
      }
  }