    .cargoContainer {
        position: absolute;
        bottom: 28vh;
        left: 12vw;
    }
    
    .cargo {
        position: absolute;
        height: 25px;
        width: 25px;
        background-color: red;
        border-radius: 50%;
    }
    
    .truck {
        position: absolute;
        width: 20vw;
        height: 16vh;
        bottom: 10vh;
        left: 2vw;
    }
    
    .upperTruck {
        width: 20vw;
        height: 12vh;
        position: absolute;
        background-color: black;
    }
    
    .lowerTruck {
        width: 20vw;
        height: 8vh;
        position: absolute;
        background-color: black;
    }
    
    .wheelsContainer {
        position: absolute;
        bottom: 0;
    }
    
    .leftWheel {
        height: 6vh;
        width: 6vh;
        top: -6.5vh;
        left: 1vw;
        position: absolute;
        background-color: black;
        border-radius: 50%;
    }
    
    .rightWheel {
        height: 6vh;
        width: 6vh;
        top: -6.5vh;
        left: 16vw;
        position: absolute;
        background-color: black;
        border-radius: 50%;
    }
    
    button {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .main {
        display: inline-block;
        position: relative;
    }
    
    .truckAnimation {
        position: absolute;
        bottom: 10vh;
        left: 2vw;
        /*animation: truckAnimation 5s linear forwards;*/
    }